<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>学子小铺>店铺信息</title>
    <th:block th:include="includes/head :: head"></th:block>
    <link rel="stylesheet" href="/plugins/dropzone/dropzone.css" />
    <link rel="stylesheet" href="/plugins/dropzone/min/basic.min.css" />
</head>
<body class="hold-transition skin-blue sidebar-mini" >
<div class="wrapper">
    <th:block th:include="shop/common/header :: header"></th:block>
    <th:block th:include="shop/common/menu :: menu"></th:block>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                店铺信息
            </h1>
        </section>
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <!-- /.box-header -->
                    <th:block th:if="${baseResult!=null }">
                        <div class="alert alert-danger alert-dismissible" style="margin:15px 0 0 0">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                &times;
                            </button>
                            <span th:text="${baseResult.message }"></span>
                        </div>
                    </th:block>
                    <!-- form start -->
                    <form action="/shop/my/save" method="post" class="form-horizontal" th:object="${editShop}">
                        <input name="id" th:value="*{id}" type="hidden">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="shopName" class="col-sm-2 control-label">店铺名称（*）</label>
                                <div class="col-sm-10">
                                    <input type="text" name="shopName" class="form-control"
                                           id="shopName" th:value="*{shopName}"
                                           placeholder="shopName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-sm-2 control-label">登录密码</label>
                                <div class="col-sm-10">
                                    <input type="password" name="password" class="form-control"
                                           id="password"  placeholder="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="legalPerson" class="col-sm-2 control-label">店铺法人（*）</label>
                                <div class="col-sm-10">
                                    <input type="text" name="legalPerson" class="form-control"
                                           id="legalPerson" th:value="*{legalPerson}"
                                           placeholder="legalPerson">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="legalPerson" class="col-sm-2 control-label">电话号码（*）</label>
                                <div class="col-sm-10">
                                    <input type="text" name="tel" class="form-control"
                                           id="tel" th:value="*{tel}"
                                           placeholder="tel">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="shopLogo" class="col-sm-2 control-label">店铺logo</label>
                                <div class="col-sm-10">
                                    <input name="shopLogo" class="form-control" id="shopLogo" placeholder="shopLogo" readonly="readonly" th:value="*{shopLogo}">
                                    <div id="dropz1" class="dropzone"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="shopBg" class="col-sm-2 control-label">背景图片</label>
                                <div class="col-sm-10">
                                    <input name="shopBg" class="form-control" id="shopBg" placeholder="shopBg" readonly="readonly" th:value="*{shopBg}">
                                    <div id="dropz2" class="dropzone"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="descp" class="col-sm-2 control-label">店铺描述</label>
                                <div class="col-sm-10">
                                    <textarea type="text" name="descp" class="form-control"
                                           id="descp" th:text="*{descp}"
                                              placeholder="descp"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="button" class="btn btn-default" onclick="history.go(-1)">取消</button>
                            <button type="submit" id="btnSubmit" class="btn btn-info pull-right">提交</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <th:block th:include="includes/copyright :: copyright"></th:block>
</div>
<!-- ./wrapper -->
<th:block th:include="includes/foot :: foot"></th:block>
<script src="/plugins/dropzone/min/dropzone.min.js"></script>
<script src="/plugins/wangEditor/wangEditor.min.js"></script>
<script>
    $(function () {
        initWangEditor();
    });
    App.initDropzone({
        id: "#dropz1",
        url: "/upload",
        pic: $("#shopLogo").val(),
        init: function () {
            this.on("success", function (file, data) {
                $("#shopLogo").val(data.fileName);
            });
        }
    });
    App.initDropzone({
        id: "#dropz2",
        url: "/upload",
        pic: $("#shopBg").val(),
        init: function () {
            this.on("success", function (file, data) {
                $("#shopBg").val(data.fileName);
            });
        }
    });

</script>
</body>
</html>