<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>学子小铺>编辑商户</title>
    <th:block th:include="includes/head :: head"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:include="admin/common/header :: header"></th:block>
    <th:block th:include="admin/common/menu :: menu"></th:block>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                商户管理
                <small th:text="${editShop != null and editShop.id != null ? '编辑商户' : '注册商户'}"></small>
            </h1>
        </section>
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <!-- /.box-header -->
                    <th:block th:if="${baseResult!=null }">
                        <div class="alert alert-danger alert-dismissible" style="margin:15px 0 0 0">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                &times;
                            </button>
                            <span th:text="${baseResult.message }"></span>
                        </div>
                    </th:block>
                    <!-- form start -->
                    <form action="/admin/shop/save" method="post" class="form-horizontal" th:object="${editShop}">
                        <input name="id" th:value="*{id}" type="hidden">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="logincode" class="col-sm-2 control-label">账号(必填)</label>
                                <div class="col-sm-10">
                                    <input type="text" name="loginCode" class="form-control"
                                           id="logincode" th:value="*{loginCode}"
                                           placeholder="logincode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputUsername3" class="col-sm-2 control-label">商户名(必填)</label>
                                <div class="col-sm-10">
                                    <input type="text" name="shopName" class="form-control"
                                           id="inputUsername3" th:value="*{shopName}"
                                           placeholder="shopName">
                                </div>
                            </div>
                            <div class="form-group">
                                <th:block th:if="${editShop.id != '' && editShop.id != null}">
                                    <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
                                </th:block>
                                <th:block th:if="${editShop.id == ''|| editShop.id == null}">
                                    <label for="inputPassword3" class="col-sm-2 control-label">密码(必填)</label>
                                </th:block>
                                <div class="col-sm-10">
                                    <input type="password" name="password" class="form-control" id="inputPassword3"
                                           placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputlegalPerson" class="col-sm-2 control-label">法人(必填)</label>
                                <div class="col-sm-10">
                                    <input type="text" name="legalPerson" class="form-control"
                                           id="inputlegalPerson" placeholder="legalPerson" th:value="*{legalPerson}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputTel" class="col-sm-2 control-label">电话(必填)</label>
                                <div class="col-sm-10">
                                    <input type="text" name="tel" class="form-control"
                                           id="inputTel" placeholder="Tel" th:value="*{tel}">
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="button" class="btn btn-default" onclick="history.go(-1)">取消</button>
                            <button type="submit" class="btn btn-info pull-right">提交</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <th:block th:include="includes/copyright :: copyright"></th:block>
</div>
<!-- ./wrapper -->
<th:block th:include="includes/foot :: foot"></th:block>
</body>
</html>