<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytu.shop.mapper.TbTypeMapper">

    <select id="getByName" parameterType="String" resultType="com.ytu.shop.domain.TbType">
        select * from tb_type
        where
        type_name = #{typeName} and state = 1
    </select>

    <insert id="insert" parameterType="com.ytu.shop.domain.TbType">
      insert into tb_type(id,type_name,desp) value
        (#{id},#{typeName},#{desp})
    </insert>

    <update id="delete" parameterType="String">
        update tb_type
        set state = 0
        where
        id = #{id}
    </update>

    <update id="deleteMulti">
        update tb_type
        set state = 0
        where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <update id="update" parameterType="com.ytu.shop.domain.TbType">
        update tb_type
        <set>
            <if test="typeName!=null and typeName!=''">
                type_name = #{typeName},
            </if>
            <if test="desp!=null and desp!=''">
                desp = #{desp},
            </if>
        </set>
        where
        id = #{id}
    </update>

    <select id="getById" parameterType="String" resultType="com.ytu.shop.domain.TbType">
        select * from tb_type
        where
        id = #{id} and state = 1
    </select>

    <select id="selectAll" resultType="com.ytu.shop.domain.TbType">
        select * from tb_type where state = 1
    </select>

    <sql id="conditions">
        <if test="entity != null">
            <if test="entity.typeName != null and entity.typeName != ''">
                and type_name like concat('%',#{entity.typeName},'%')
            </if>
        </if>
    </sql>

    <select id="page" resultType="com.ytu.shop.domain.TbType">
        select * from tb_type
        where state = 1
        <include refid="conditions"></include>
        limit #{start},#{length}
    </select>

    <select id="count" parameterType="com.ytu.shop.domain.TbType" resultType="int">
        select count(*) from tb_type
        where state = 1
        <include refid="conditions"></include>
    </select>

</mapper>