<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>学子小铺>编辑类别</title>
    <th:block th:include="includes/head :: head"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:include="admin/common/header :: header"></th:block>
    <th:block th:include="admin/common/menu :: menu"></th:block>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                商户管理
                <small th:text="${editType != null and editType.id != null ? '编辑类别' : '添加类别'}"></small>
            </h1>
        </section>
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <!-- /.box-header -->
                    <th:block th:if="${baseResult!=null }">
                        <div class="alert alert-danger alert-dismissible" style="margin:15px 0 0 0">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                &times;
                            </button>
                            <span th:text="${baseResult.message }"></span>
                        </div>
                    </th:block>
                    <!-- form start -->
                    <form action="/admin/type/save" method="post" class="form-horizontal" th:object="${editType}">
                        <input name="id" th:value="*{id}" type="hidden">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputtypeName" class="col-sm-2 control-label">类别名</label>
                                <div class="col-sm-10">
                                    <input type="text" name="typeName" class="form-control"
                                           id="inputtypeName" th:value="*{typeName}"
                                           placeholder="typeName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="desp" class="col-sm-2 control-label">描述</label>
                                <div class="col-sm-10">
                                <textarea id="desp" name="desp" class="form-control" rows="3" th:text="*{desp}"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="button" class="btn btn-default" onclick="history.go(-1)">取消</button>
                            <button type="submit" class="btn btn-info pull-right">提交</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <th:block th:include="includes/copyright :: copyright"></th:block>
</div>
<!-- ./wrapper -->
<th:block th:include="includes/foot :: foot"></th:block>
</body>
</html>