<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/plugins/Ionicons/css/ionicons.min.css"/>
    <link rel="stylesheet" href="/css/AdminLTE.min.css"/>
    <link rel="stylesheet" href="/css/skin-blue.min.css"/>
    <link rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/plugins/iCheck/all.css"/>
    <link rel="stylesheet" href="/plugins/DataTables-1.10.15/media/css/dataTables.bootstrap.css"/>
</head>

<body>
</body>
</html>